@import "./globals.scss";
.footer {
    background: rgb(26, 26, 26, 0.4);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 80px;
    font-family: $mainFont;

    @media (max-width: 712px) {
        flex-direction: column;
    }

    .footerUtil {
        padding: 20px;

        .icons {
            display: flex;
            gap: 24px;
            padding-bottom: 20px;

            .icon {
                cursor: pointer;
                color: rgb(87, 87, 87);
                transition: all ease 0.2s;
                font-size: x-large;

                &:hover {
                    color: white;
                }
            }
        }
    }

    .content {
        padding: 20px;

        ul {
            li {
                list-style: none;
                a {
                    color: rgb(87, 87, 87);
                    font-size: medium;
                    padding-bottom: 8px;
                    font-weight: bolder;
                    transition: all ease 0.2s;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}
.bottomPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: rgb(26, 26, 26, 0.6);
    font-family: $mainFont;

    h1 {
        color: rgb(87, 87, 87);
        font-weight: bolder;
        font-size: large;
    }
}
